<h1>Accessible Modal Component</h1>
<p>Welcome to the accessible modal testing page!</p>

<button
  class="button button-primary"
  type="button"
  (click)="show()">Show modal</button>

<ng-template #modal>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-field">
      <label for="firstName">First Name</label>
      <input
        [attr.aria-invalid]="form.get('firstName').invalid"
        id="firstName"
        formControlName="firstName"
        [(value)]="firstName"/>
      <span
        *ngIf="form.get('firstName')?.errors?.required"
        class="validation-error">
        First name is required
      </span>
    </div>

    <div class="form-field">
      <label for="surname">Surname</label>
      <input
        [attr.aria-invalid]="form.get('surname').invalid"
        id="surname"
        formControlName="surname"
        type="text"/>
      <span
        *ngIf="form.get('surname')?.errors?.required"
        class="validation-error">
        Surname is required
      </span>
    </div>

    <div class="form-field">
      <label for="age">Age</label>
      <input
        [attr.aria-invalid]="form.get('age').invalid"
        id="age"
        formControlName="age"
        type="text"/>
      <span
        *ngIf="form.get('age')?.errors?.required"
        class="validation-error">
        Age is required
      </span>
    </div>

    <label for="info">Subscribe to new letter</label>
    <input id="info" formControlName="info" type="checkbox" (change)="info = !info">
    <p [@fade] *ngIf="info">This is a placeholder for more information!</p>

    <div class="button-group">
      <button
        [attr.aria-disabled]="form.invalid"
        class="button button-primary"
        type="submit"
        >Submit</button>
      <button
        class="button button-secondary"
        type="button"
        (click)="modalRef.close()"
        >Cancel</button>
    </div>
  </form>
</ng-template>
